/*引入字體*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    color: var(--neutral-900);
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

@media (max-width: 767px) {
    .d-md-block {
        display: block;
    }
    .d-md-none {
        display: none;
    }    
}

@media (max-width: 576px) {
    .d-sm-block {
        display: block;
    }
    .d-sm-none {
        display: none;
    }
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-8 {
    gap: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-1 {
    width: calc(100% / 12);
    padding-right: 12px;
    padding-left: 12px;
}

.col-2 {
    width: calc(100% / 12 * 2);
    padding-right: 12px;
    padding-left: 12px;
}

.col-3 {
    width: calc(100% / 12 * 3);
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding-right: 12px;
    padding-left: 12px;
}

.col-5 {
    width: calc(100% / 12 * 5);
    padding-right: 12px;
    padding-left: 12px;
}

.col-6 {
    width: calc(100% / 12 * 6);
    padding-right: 12px;
    padding-left: 12px;
}

.col-7 {
    width: calc(100% / 12 * 7);
    padding-right: 12px;
    padding-left: 12px;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding-right: 12px;
    padding-left: 12px;
}

.col-9 {
    width: calc(100% / 12 * 9);
    padding-right: 12px;
    padding-left: 12px;
}

.col-10 {
    width: calc(100% / 12 * 10);
    padding-right: 12px;
    padding-left: 12px;
}

.col-11 {
    width: calc(100% / 12 * 11);
    padding-right: 12px;
    padding-left: 12px;
}

.col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

@media (max-width: 767px) {
    .row {
        margin-right: -6px;
        margin-left: -6px;
    }
    .col-md-1 {
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4);
    }
    .col-md-2 {
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4 * 2);
    }
    .col-md-3 {
        padding-right: 6px;
        padding-left: 6px;
        width: calc(100% / 4 * 3);
    }
    .col-md-4 {
        padding-right: 6px;
        padding-left: 6px;
        width: 100%;
    }
}

.h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.h6 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

@media (max-width: 767px) {
    .h1-md {
        font-size: 40px;
    }
    .h2-md {
        font-size: 32px;
    }
    .h3-md {
        font-size: 28px;
    }
    .h4-md {
        font-size: 24px;
    }
    .h5-md {
        font-size: 20px;
    }
    .h6-md {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .h3-sm {
        font-size: 28px;
    }
    .h4-sm {
        font-size: 24px;
    }
    .h5-sm {
        font-size: 20px;
    }
    .h6-sm {
        font-size: 16px;
    }
}

.text-sm {
    font-size: 14px;
    font-weight: 400;
}

.text-white {
    color: var(--neutral-0);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.text-primary-400 {
    color: var(--primary-400);
}

.text-danger {
    color: var(--danger-300);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-neutral-100 {
    background: var(--neutral-100);
}

.text-neutral-600 {
    color: var(--neutral-600);
}

.p-12 {
    padding: 12px;
}

.p-32 {
    padding: 32px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pe-8 {
    padding-right: 8px;
}

@media (max-width: 767px) {
    .p-md-24 {
        padding: 24px;
    }
    .py-md-16 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .py-md-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .pb-md-32 {
        padding-bottom: 32px;
    }
}

@media (max-width: 576px) {
    .px-sm-12 {
        padding-right: 12px;
        padding-left: 12px;
    }
    .py-sm-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .py-sm-32 {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.me-8 {
    margin-right: 8px;
}

.me-12 {
    margin-right: 12px;
}

.me-24 {
    margin-right: 24px;
}

.me-40 {
    margin-right: 40px;
}

.me-48 {
    margin-right: 48px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-48 {
    margin-bottom: 48px;
}

@media (max-width: 767px) {
    .mb-md-0 {
        margin-bottom: 0px;
    }
    .mb-md-8 {
        margin-bottom: 8px;
    }
    .mb-md-12 {
        margin-bottom: 12px;
    }
    .mb-md-16 {
        margin-bottom: 16px;
    }
    .mb-md-24 {
        margin-bottom: 24px;
    }
    .mb-md-32 {
        margin-bottom: 32px;
    }
}

@media (max-width: 576px) {
    .me-sm-0 {
        margin-right: 0;
    }
    .me-sm-16 {
        margin-right: 16px;
    }
    .mb-sm-4 {
        margin-bottom: 4px;
    }
    .mb-sm-8 {
        margin-bottom: 8px;
    }
}

.bi {
    vertical-align: bottom;
}
.copyright {
    padding-top: 32px;
    border-top: 1px solid var(--neutral-300);
    font-size: 14px;
    color: var(--neutral-600);
    text-align: center;
}