/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 顏色 */
:root{
	--primary-100: #FFFFFF
	--primary-400: #57a203

}
/* 標準基本樣式 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

img{
	vertical-align: middle;
}
a{
color: #57a203;
display: block;
font-weight: 500;
text-underline-offset: 4px;
text-decoration: none;
}
body{
	line-height: 1.5;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
}
.h1{
	line-height: 1.2;
	font-weight: 700;
	font-size: 40px;
}
.h2{
	line-height: 1.2;
	font-weight: 700;
	font-size: 32px;	
}
.h3{
	line-height: 1.2;
	font-weight: 700;
	font-size: 28px;	
}
.h4{
	line-height: 1.2;
	font-weight: 700;
	font-size: 24px;	
}
.h5{
	line-height: 1.2;
	font-weight: 700;
	font-size: 20px;	
}
.text-sm{
	line-height: 1.2;
	font-weight: 400;
	font-size: 14px;	
}
.text-primary-400{
color: ;
}

/* 通用樣式 */
.container{
	width: 1296px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}
.col{
	padding-left: 12px;
	padding-right: 12px;
	width: calc(100% / 12);
}

.d-flex{
	display: flex;
}
.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}